@use './assets/scss/variables' as vars;

/* Table grid */
.custom-grid-container {
    height: 500px;
    width: 100%;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

/* Table body */
.ag-theme-alpine .ag-cell,
.ag-theme-quartz .ag-cell,
.custom-grid-container .ag-cell {
    border-right: 1px solid vars.$cell-border-color;
    padding: 6px 3px;
    font-size: 12px;
    text-align: start;
}

.ag-row {
    border-bottom: 1px solid vars.$cell-border-color;
}

.ag-cell.ag-cell-last-left-pinned:not(
        .ag-cell-range-right,
        .ag-cell-range-single-cell,
        .ag-cell-focus:not(.ag-cell-range-selected):focus-within
    ) {
    border-right: 1px solid vars.$cell-border-color;
}

/* Table header */
.ag-theme-alpine .ag-header-cell,
.ag-theme-quartz .ag-header-cell,
.custom-grid-container .ag-header-cell,
.ag-header-group-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal !important;
    border-right: 1px solid vars.$cell-border-color;
    padding: 0 2px;
    .ag-header-group-cell-label {
        width: 100%;
        .ag-header-group-text {
            width: 100%;
            font-weight: 400;
        }
    }
    .ag-header-cell-label {
        width: 100%;
        .ag-header-cell-text {
            width: 100%;
            font-weight: 400;
            white-space: normal !important;
            overflow: visible !important;
            text-overflow: unset !important;
            line-height: 1;
            word-break: break-word;
        }
    }
}

/* ===Sorting start=== */
.ag-sort-indicator-container {
    .ag-sort-indicator-icon {
        .ag-icon {
            color: #fff;
        }
    }
}

.ag-header-cell-label .ag-sort-order {
    display: none;
}
/* ===Sorting end === */

/* === Custom class name for outer header cells === */
.outer-header {
    background: linear-gradient(180deg, #0097a7 10%, #00838f 100%);
    color: #fff;
}

/* === Custom class name for nested header cells === */
.nested-header {
    background: linear-gradient(180deg, #0097a7 10%, #009bab 100%);
    color: #fff;
}

/* === Checkbox=== */
/* Center column header checkbox just like cells */
.ag-header-cell.checkbox-center .ag-header-cell-comp-wrapper {
    background: linear-gradient(180deg, #0097a7 10%, #00838f 100%);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important; /* ✅ Force full width */
    flex: 1 1 auto !important; /* ✅ Prevent shrinking */
    padding: 0 !important;
}

.ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within {
    border-right: 1px solid #e9ecef;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

//.ag-theme-alpine {
//    --ag-selected-row-background-color: #d7f3ff !important; /* light blue */
//}

//.ag-theme-alpine .ag-row.ag-row-selected {
//    background-color: #d7f3ff !important;
//}

//.custom-grid-container.ag-theme-alpine .ag-row.ag-row-selected {
//    background-color: #d7f3ff !important;
//}

.ag-header-cell.checkbox-center :where(*) {
    position: absolute !important; /* override AG Grid's relative positioning */
    z-index: auto !important;
}

.checkbox-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
}

/* === Browser`s scrollbar customization === */
::-webkit-scrollbar {
    width: vars.$scroll-size;
    height: vars.$scroll-size;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: vars.$scroll-size;
}

::-webkit-scrollbar-thumb {
    background: vars.$primary-dark-color;
    border-radius: vars.$scroll-size;
}

::-webkit-scrollbar-thumb:hover {
    background: vars.$primary-darker-color;
}
