@use './assets/scss/variables' as vars;

/* Table grid */
.custom-grid-container.ag-theme-alpine {
    height: 500px;
    width: 100%;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    .ag-row {
        border-bottom: 1px solid vars.$cell-border-color;
    }
    .ag-cell {
        border-right: 1px solid vars.$cell-border-color;
        padding: 6px 3px;
        font-size: 12px;
        text-align: start;
        color: #495057;
    }

    .ag-cell.ag-cell-last-left-pinned:not(
            .ag-cell-range-right,
            .ag-cell-range-single-cell,
            .ag-cell-focus:not(.ag-cell-range-selected):focus-within
        ) {
        border-right: 1px solid vars.$cell-border-color;
    }

    .ag-header-cell,
    .ag-header-group-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: normal;
        border-right: 1px solid vars.$cell-border-color;
        padding: 0 2px;
        .ag-header-group-cell-label {
            width: 100%;
            .ag-header-group-text {
                width: 100%;
                font-weight: 400;
            }
        }
        .ag-header-cell-label {
            width: 100%;
            .ag-header-cell-text {
                width: 100%;
                font-weight: 400;
                white-space: normal;
                overflow: visible;
                text-overflow: unset;
                line-height: 1;
                word-break: break-word;
            }
        }
    }

    /* ===Sorting start=== */
    .ag-sort-indicator-container {
        .ag-sort-indicator-icon {
            .ag-icon {
                color: #fff;
            }
        }
    }

    .ag-header-cell-label .ag-sort-order {
        display: none;
    }
    /* ===Sorting end === */

    /* === Custom class name for outer header cells === */
    .outer-header {
        background: linear-gradient(180deg, #0097a7 10%, #00838f 100%);
        color: #fff;
    }

    /* === Custom class name for nested header cells === */
    .nested-header {
        background: linear-gradient(180deg, #0097a7 10%, #009bab 100%);
        color: #fff;
    }

    /* Prime-like checkbox */
    .ag-checkbox-input-wrapper {
        width: 20px;
        height: 20px;
        border: 2px solid #ced4da;
        border-radius: 3px;
        background-color: #fff;
        transition:
            border-color 100ms ease,
            box-shadow 100ms ease,
            background 100ms ease;
        &:after {
            content: '';
        }
    }

    .ag-checkbox-input-wrapper.ag-checked {
        border: 2px solid #2196f3;
        background-color: #2196f3;
        &:after {
            content: '\e909';
            font-family: 'primeicons', serif;
            font-size: 20px;
            color: #fff;
        }
    }
    .ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within {
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: #e9ecef;
    }
    .checkbox-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        .ag-selection-checkbox {
            margin-right: 0;
        }
    }

    .checkbox-header {
        background: linear-gradient(180deg, #0097a7 10%, #00838f 100%);
        .ag-header-cell-comp-wrapper {
            display: none;
        }

        .ag-label-align-right {
            margin-right: 0;
        }
    }

    /* === Browser`s scrollbar customization === */
    ::-webkit-scrollbar {
        width: vars.$scroll-size;
        height: vars.$scroll-size;
    }

    ::-webkit-scrollbar-track {
        background: #fff;
        border-radius: vars.$scroll-size;
    }

    ::-webkit-scrollbar-thumb {
        background: vars.$primary-dark-color;
        border-radius: vars.$scroll-size;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: vars.$primary-darker-color;
    }
}
